body  
{ 
    background-color: #90c7e3;   /* bgc#90c7e3 */
    background-image: linear-gradient(to bottom, #fff, #90c7e3); /* bgi */
    background-repeat: no-repeat;  /* bgr */
    color: #555; /* c#fff */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
}

#wrapper
{
    background-color: #fff; /* bgc#fff */
    box-shadow: 3px 3px 3px #333;  /* bxsd */
    margin: auto;  /* m:a 8 */
    min-width: 960px; /* mw960 */
    max-width: 2048px; /* mw2048 */
    width: 80%; /* w80% */

}

header 
{
    background-color: #000032;  /* bgc#000032 */
    background-image: url(images/sunset.jpg); /* bgi */
    background-position: right; /* bgdp */
    background-repeat: no-repeat; /* bgr */
    color: #fff;  /* c#fff */
    height: 60px; /* h60 */
    padding: 15px; /* pt15 */
    text-align: center; /* tac */
    
}

nav
{
    background-color: #fff; /* bgc#fff */
    font-weight: bold; /* fwb */
    padding: 1em; /* p1em */
    text-align: center; /* tac */

}


nav a
{
    text-decoration: none; /* txs */
}

main
{
    padding: 1px 20px 20px; /* p1-20-20 */

}

h1
{
    margin-bottom: 0; /* mb0 */
    margin-top: 0; /* mt0 */
}

h1, h2, h3, footer
{
    font-family: Georgia, "Times New Roman", serif; /* fft */
}

h2
{
    color: #1976d2; /* c#1976d2 */
    text-shadow: 1px 1px #404040; /* txs */

}

h3
{
    color: #003; /* c#003 */
}

dt
{
    color: #002171; /*c#002171 */
}

address
{
    font-style: normal; /* fsn */
}



footer
{
    font-size: 75%; /* fz75% */
    font-style: italic; /* fsi */
    padding: 2em; /* p2em */
    text-align: center; /* txa */

}
.resort 
{
    color: #1976d2; /* c#1976d2 */
    font-weight: bold; /* fwb */
}


#homehero, #yurthero, #trailhero
{
    background-repeat: no-repeat; /* bgr: norepeat */
    background-size: cover; /* bgh:cover */
    height: 18.75rem; /* h: 18.75rem */
}
#homehero
{
    background-image: url(images/coast.jpg); /* background-image: url(images/coast.jpg) */
}

#yurthero
{ 
    background-image: url(images/yurt.jpg); /* background-image: url(images/yurt.jpg) */
}

#trailhero
{
    background-image: url(images/trail.jpg); /* background-image: url(images/trail.jpg) */
}
